*.ipch
*.obj
*.pch
*.exe
*.dll
*.log
*.user
*.userosscache
*.suo
*.tlb
*.tlh
*.bak
*.ncb
*.sdf
*.pdb
*.opendb
*.VC.db
*.VC.opendb
*.sln
*.exe
*.pdb
*.vcxproj
*.filters
*.ilk
*.recipe
*.idb
*.tlog
.vs/